<div>
    <h1> Procore Project Data Generator </h1>
    <br>
</div>


 <a href="/vendors"> View All Vendors </a>


 <div>
    <h2> Create New Vendor/Company </h2>
    <h3> Create Vendor </h3>
    <%= form_with url: "/seeds/submit_form", method: :post do |form| %>
        <%= form.radio_button :make_vendor, "Create Purchase Order"%>
        <%= form.label :make_vendor_yes, "Create New Vendor" %>
            <input name="name" type="text" placeholder="enter vendor name" />
            <br>
            <br>
        <%= form.radio_button :make_po, "Create Purchase Order"%>
        <%= form.label :make_po_yes, "Create Purchase Order" %>
        <h2> Create Purchase Order </h2>
        <h3> Project ID </h3>
            <input name="ID" type="text" placeholder="ID #" />
        <h3>Company </h3>
        <select name="Vendor Name" id="vendor-select">
            <option value="">--Please choose an option--</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
        <h3> Amount </h3>
            <input name="Amount" placeholder="Amount" />
        <br>
        <br>
        <input type="submit" />
    <% end %>
    <%=flash[:error]%>
</div>



