<!DOCTYPE html>
<html>
  <head>
    <title>ProcoreApiRailsOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if signed_in? %>
      <code><%= signed_in_as %></code>
      <%= button_to 'Sign out', session_oauth_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
